
@model IEnumerable<Btth7_client_mvc.Models.Danhmuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPhams)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.MaDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPhams)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaDanhMuc }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.StudentID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.MaDanhMuc })
            </td>
        </tr>
    }

</table>


